body {
    font-family: 'Lato', sans-serif;
}

.logo {
    color: #EEE;
}

.main {
    margin-top: 125px;
}

.main_content {
    margin-top: 25px;
}

.book_content {
    margin-bottom: 5px;
}

.sub-title {
    font-size: 18px;
    margin-bottom: 15px;
}
.sub-title > span {
    font-style: italic;
}

.list-group-item {
    border: none;
}

.book_title {
    font-size: 18px;
    font-weight: 900;
}

li {
    list-style: none;
}